header{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 10vh;
    background-color: #2E3755;
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
}

.header-logo{
    display: flex;
    align-items: center;
}
.header-logo img{
    display: block;
    width: 12vw;
    padding: auto;
}

.header-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1vw;
}


.header-navigation-burger{
    display: none;
}

.header-navigation-button{
    background-color: #FFB22A;
    color: white;
    height: 5vh;
    width: 7vw;
    border: 1px solid #FFB22A;
    border-radius: 15px;
    font-size: 0.8vw;
    font-weight: 600;
}

main {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #2E3755;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form{
    height: 80vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    border-radius: 25px;
}

.sign-up-form{
    background-color: #F7CF6D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E3755;
}

.sign-up-form-h1{
    font-weight: 800;
    font-size: 2vw;
}

.sign-up-form-h3{
    font-weight: 700;
    font-size: 1vw;
    line-height: 0.5vh;
    margin-top: 0;
}

.button {
    border-radius: 20px;
    height: auto;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: 700;
    font-size: 1vw;
}
.sign-up-form-student{
    margin-top: 2vh;
    background-color: #2E3755;
    border: 1px solid #2E3755;
    color: white;
}

.sign-up-form-partner{
    background-color: #F7CF6D;
    border: 2px solid #2E3755;
    color: #2E3755;
    margin-top: 2vh; 
}

.login-form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E3755;
}

.input{
    width: 24vw;
    height: auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.login-form-input-password{
    margin-top: 2vh;
}

.login-form-checkbox-and-forgot{
    width: 24vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.login-form-input-checkbox{
    display: inline-block;
    text-align: center;
    background-color: gainsboro ;
    width: 3vh;
}

.login-form-input-label{
    font-size: 0.7vw;
    font-weight: 700;
}

.login-form-p{
    display: inline-flex;
    margin-left: 7vw;
    text-decoration: underline;
    font-size: 0.7vw;
    font-weight: 700;
}

.login-form-p-mobile {
    display: none;
}

.login-form-button{
    background-color: #FFB22A;
    border: 1px solid #FFB22A;
    border-radius: 20px;
    width: 24vw;
    height: auto;
    font-weight: 600;
    font-size: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    color: white;
}

@media (max-width: 850px) {
    header{
        margin: 0;
        height: 10vh;
        background-color: #2E3755;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .header-blank-left{
        display: none;
    }

    .header-logo img{
        display: block;
        width: 50vw;
    }

    .header-navigation{
        display: none;
    }

    .header-blank-right{
        display: none;
    }
    
    .header-navigation-burger{
        display: flex;
        height: 10vh;
        padding-right: 5vw;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

   .line{
    width: 10vw;
    height: 1vh;
    border-bottom: 5px solid white ;
   }

   main {
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
   /* Login and SignUp */

   .login-form{
    position: absolute;
    width: 100vw;
    top: 10vh;
    height: 40vh;
}

.input{
    width: 80vw;
}

.login-form-input-email::placeholder {
    font-size: 3vw;
}

.login-form-input-password::placeholder {
    font-size: 3vw;
}

.login-form-checkbox-and-forgot{
    display: none;
}

.login-form-button{
    width: 80vw;
}

.login-signup-form{
    height: 100vh;
    width: 100vw;
}

.login-form-p-mobile{
    display: block;
    border-bottom: 1px solid black;
    font-size: 3vw;
}

.login-form-h1{
    font-size: 6vw;
    font-weight: 800;
    color: #2E3755;
}

.login-form-button{
    font-size: 5vw;
}

.sign-up-form{
    position: absolute;
    top: 50vh;
    height: 45vh;
    width: 100vw;
}

.button {
    font-weight: 600;
    width: 80vw;
    font-size: 4vw;
}
.sign-up-form-student{
    margin-top: 5vh;
    background-color: #F7CF6D;
    border: 2px solid #2E3755;
    border-radius: 20px;
    color: #2E3755;

}

.sign-up-form-h1{
    font-size: 6vw;
    font-weight: 800;
    color: #2E3755;
}

.sign-up-form-h3{
    font-size: 4vw;
    font-weight: 700;
    color: #2E3755;
    margin-top: 1vh;
    line-height: 1vh;
}

}