body{
    margin: 0;
}

.header{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 10vh;
    background-color: #2E3755;
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
}

.header__logo{
    display: flex;
    align-items: center;
}
.header__img{
    display: block;
    width: 12vw;
    padding: auto;
}

.header__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1vw;
}

.header__burger{
    display: none;
}

.header__button{
    background-color: #FFB22A;
    color: white;
    height: 5vh;
    width: 7vw;
    border: 1px solid #FFB22A;
    border-radius: 15px;
    font-size: 0.8vw;
    font-weight: 600;
}

main {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #2E3755;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 80vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    border-radius: 25px;
}

.form__signup{
    background-color: #F7CF6D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E3755;
}

.signup__header{
    font-weight: 800;
    font-size: 2vw;
}

.signup__description{
    font-weight: 700;
    font-size: 1vw;
    line-height: 0.5vh;
    margin-top: 0;
}

.signup__button {
    border-radius: 20px;
    height: auto;
    width: 12vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: 700;
    font-size: 1vw;
}
.signup__button--student{
    margin-top: 2vh;
    background-color: #2E3755;
    border: 1px solid #2E3755;
    color: white;
}

.signup__button--partner{
    background-color: #F7CF6D;
    border: 2px solid #2E3755;
    color: #2E3755;
    margin-top: 2vh; 
}

.form__login{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E3755;
}

.login__header{
    font-size: 3vw;
    font-weight: 800;
    color: #2E3755;
}

.login__input{
    width: 24vw;
    height: auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.login__input--password{
    margin-top: 2vh;
}

.login__helpers{
    width: 24vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.login__helpers--checkbox{
    display: inline-block;
    text-align: center;
    background-color: gainsboro ;
    width: 3vh;
}

.login__helpers__label{
    font-size: 0.7vw;
    font-weight: 700;
}

.login__helpers--password{
    display: inline-flex;
    margin-left: 7vw;
    text-decoration: underline;
    font-size: 0.7vw;
    font-weight: 700;
}

.login__helpers--passwordmobile {
    display: none;
}

.login__submit{
    background-color: #FFB22A;
    border: 1px solid #FFB22A;
    border-radius: 20px;
    width: 24vw;
    height: auto;
    font-weight: 600;
    font-size: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    color: white;
}



@media (max-width: 900px) {
    .header{
        display: grid;
        grid-template-columns: 10vw 30vw 55vw 5vw;
    }
    
    .header__img{
        width: 25vw;
    }
    
    .header__navigation{
        font-size: 1.5vw;
        margin-left: 1vw;
    }
    
    .header__button{
        height: auto;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: auto;
        font-size: 1.3vw;
    }

    main {
        height: 70vh;
    }
    .form{
        height: 50vh;
    }
    
    .signup__header{
        font-size: 4vw;
    }
    
    .signup__description{
        font-size: 1.5vw;
    }
    
    .signup__button {
        width: 15vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-size: 1vw;
    }
    .signup__button--student{
        margin-top: 3vh;
    }    
    .login__input{
        width: 35vw;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    
    .login__helpers{
        margin-top: 2vh;
        width: 35vw;
    }

    .login__helpers__label{
        font-size: 1vw;
    }
    
    .login__helpers--password{
        margin-left: 12vw;
        font-size: 1vw;
    }
    
    .login__submit{
        width: 35vw;
        font-size: 2vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
}

@media (max-width: 500px) {
    header{
        margin: 0;
        height: 10vh;
        background-color: #2E3755;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .header-blank-left{
        display: none;
    }

    .header__img{
        display: block;
        width: 50vw;
    }

    .header__navigation{
        display: none;
    }

    .header-blank-right{
        display: none;
    }
    
    .header__burger{
        display: flex;
        height: 10vh;
        padding-right: 5vw;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

   .burger__line{
    width: 10vw;
    height: 1vh;
    border-bottom: 5px solid white ;
   }

   main {
    background-color: white;
    }
   /* Login and SignUp */

   .form__login{
    position: absolute;
    width: 100vw;
    top: 10vh;
    height: 40vh;
}

.login__input{
    width: 80vw;
}

.login__input--email::placeholder {
    font-size: 3vw;
}

.login__input--password::placeholder {
    font-size: 3vw;
}

.login__helpers{
    display: none;
}

.login__submit{
    width: 80vw;
}

.form{
    height: 100vh;
    width: 100vw;
}

.login__helpers--passwordmobile{
    display: block;
    border-bottom: 1px solid black;
    font-size: 3vw;
}

.login__header{
    font-size: 6vw;
    font-weight: 800;
    color: #2E3755;
}

.login__submit{
    font-size: 5vw;
}

.form__signup{
    position: absolute;
    top: 50vh;
    height: 45vh;
    width: 100vw;
}

.signup__button {
    font-weight: 600;
    width: 80vw;
    font-size: 4vw;
}
.signup__button--student{
    margin-top: 5vh;
    background-color: #F7CF6D;
    border: 2px solid #2E3755;
    border-radius: 20px;
    color: #2E3755;

}

.signup__header{
    font-size: 6vw;
    font-weight: 800;
    color: #2E3755;
}

.signup__description{
    font-size: 4vw;
    font-weight: 700;
    color: #2E3755;
    margin-top: 1vh;
    line-height: 1vh;
}

}
